[submodule "nvim"]
	path = nvim
	url = git@github.com:charlypal/Neovim-Config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:charlypal/Tmux-Config.git
[submodule "i3"]
	path = i3
	url = git@github.com:charlypal/i3-Config.git
